<div id="mainForm">
    <div id="logo"></div>

    <h3>Create Your Own Mojito!</h3>
    <form action="/savefile" method="POST">

        <label for="mojitoName">Mojito Name:
            <input type="text" name="mojitoName" id="mojitoName" value="default">
        </label>
        <br>
        <br>


        <label for="rum">Select Your Rum:
            <select name="rum" id="rum">
                <option value="flordecana">Flor de Cana</option>
                <option value="cruzan">Cruzan</option>
                <option value="bacardi">Bacardi</option>
                <option value="tencane">10 Cane</option>
            </select>
        </label>

        <br>
        <br>

        <h3>Select Your Fruit</h3>
        <label for="club">Club
            <input type="radio" name="weapon" value="club" id="club" checked>
        </label>
        <label for="other">Claws
            <input type="radio" name="weapon" value="claws" id="claws">
        </label>

        <label for="female">Rubber Ducky
            <input type="radio" name="weapon" value="ducky" id="ducky">
        </label>

        <br>
        <br>


        <label for="message">Answer Machine Message
            <br>
            <textarea name="message" rows="10" cols="30" id="message">I am in the middle of eating...
            </textarea>
        </label>

        <br>


        <input type="submit" value="Submit">

    </form>
</div>