<div id="mainForm">
    <div id="logo"></div>

    <h3>Create Your Own Mojito!</h3>
    <form action="/savefile" method="POST">

        <label for="mojitoName">Mojito Name:
            <input type="text" name="mojitoName" id="mojitoName" value="default">
        </label>
        <br>
        <br>


        <label for="rum">Select Your Rum:
            <select name="rum" id="rum">
                <option value="flor-de-cana">Flor de Cana</option>
                <option value="cruzan">Cruzan</option>
                <option value="bacardi">Bacardi</option>
                <option value="tencane">10 Cane</option>
            </select>
        </label>

        <br>
        <br>

        <h3>Select Your Fruit</h3>
        <label for="coconut">Coconut
            <input type="radio" name="fruit" value="coconut" id="coconut" checked>
        </label>
        <label for="passion-fruit">Passion Fruit
            <input type="radio" name="fruit" value="passion-fruit" id="passion-fruit">
        </label>

        <label for="watermelon">Watermelon
            <input type="radio" name="fruit" value="watermelon" id="watermelon">
        </label>

        <br>
        <br>


        <label for="message">Name Your Mojito
            <br>
            <textarea name="message" rows="10" cols="30" id="message">Input Name Here
            </textarea>
        </label>

        <br>


        <input type="submit" value="Submit">

    </form>
</div>